<!DOCTYPE html>
<html lang="en">
    <!-- head -->
  <%- include('../partials/head.ejs', {title: 'Nuevo producto'}) %>

  <body>
     
    <%- include('../partials/header.ejs') %>
    <main>
      <form id="productForm" action="/crear" method="post" class="container" enctype="multipart/form-data" style="margin-top: 129px; margin-bottom: 55px; width: 65%;;">
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo" aria-describedby="emailHelp">
        </div>

        <div class="input-group mb-3">
          <input type="file" class="form-control" id="imagen" name="imagen">
          <label class="input-group-text" for="imagen">Imagen</label>
        </div>

        <div class="mb-3">
          <label for="descripcion" class="form-label">Descipción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="categoria" class="form-label">Categoría</label>
          <select name="categoria">
            <option value=""></option>
            <% for (categoria of categorias) { %>
              <option value="<%= categoria.id %>">
                <%= categoria.nombre %>
              </option>
            <% } %>
          </select>
        </div>             
       
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="text" class="form-control" id="precio" name="precio" aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </main>

 <script src='/js/scriptValidatorCreacion.js'></script>

    <%- include('../partials/footer.ejs') %>
  </body>

 

</html>