<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detalle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c9cf8990b8.js" crossorigin="anonymous"></script>
    <title>Detalle de producto</title>
</head>
<body class="mt-5">
    <%- include('../partials/header.ejs') %>  

    <div class="container-new container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image">
                    <img src="<%= producto.imagen %>" alt="Nombre del producto" class="img-fluid zoomable">
                </div>
            </div>
            <div class="col-md-6 col-m5">
                <div class="product-description">
                    <h2 class="titulo"><%= producto.nombre %></h2>
                    <p class="descripcion"><%= producto.descripcion %></p>
                    <p class="vendedor">Publicado por: <%= usuario_vendedor.nombre %> <%= usuario_vendedor.apellido %></p>
                    <h3 class="precio"> $<%= producto.precio %></h3>
                    <% if (user != undefined && user.id === usuario_vendedor.id) {%>
                        <a href="/edicion/<%= producto.id %>"><button class="btn btn-dark mt-4">Editar</button></a>
                        <form action="/delete/<%= producto.id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-dark mt-2">Eliminar</button>
                        </form>
                    <% } else { %>
                    
                    <a href="">Ver metodos de pagos</a>

                        <!--if user.carrito contains producto disable button agregar al carrito-->
                    <form action="/agregar-al-carrito/<%= producto.id %>" method="post">
                        <button type="submit" class="btn btn-dark mt-4">Agregar al carrito</button>
                    </form>
                    <form action="" method="post">
                        <button type="submit" class="btn btn-dark mt-4">Compra Ahora</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="productos-user">
                <div class="productos-user-pag">
                <h3 class="titulo titulo2"> productos</h3>
                <div class="perfil-usuario-productos">
                    
                        <div class="productos">
                            <div class="imagen-producto">
                                <a href=""><img class="imagen" src="/public/img/4.jpg"></a>
                                <div class="resumen">
                                    <p>Ola</p>
                                </div>
                                <div class="precio">
                                    122$
                                </div>
                            </div>
                            <div class="imagen-producto">
                                <a href=""><img class="imagen" src="/public/img/4.jpg"></a>
                                <div class="resumen">
                                    <p>Ola</p>
                                </div>
                                <div class="precio precio2">
                                    122$
                                </div>
                            </div>
                            <div class="imagen-producto">
                                <a href="" class="ola"><img class="imagen" src="/public/img/4.jpg"></a>
                                <div class="resumen">
                                    <p>Ola</p>
                                </div>
                                <div class="precio precio2">
                                    122$
                                </div>
                            </div>
                            <div class="imagen-producto">
                                <a href=""><img class="imagen" src="/public/img/4.jpg"></a>
                                <div class="resumen">
                                    <p>Ola</p>
                                </div>
                                <div class="precio precio2">
                                    122$
                                </div>
                            </div>
                            <div class="imagen-producto">
                                <a href=""><img class="imagen" src="/public/img/4.jpg"></a>
                                <div class="resumen">
                                    <p>Ola</p>
                                </div>
                                <div class="precio precio2">
                                    122$
                                </div>
                            </div>
                            <div class="imagen-producto">
                                <a href=""><img class="imagen" src="/public/img/4.jpg"></a>
                                <div class="resumen">
                                    <p>Ola</p>
                                </div>
                                <div class="precio precio2">
                                    122$
                                </div>
                            </div>
                            
                           
                        </div> 
                    
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-light text-center">
        <div class="container-new container py-4">
            <div class="row">
                <div class="col-md-6">
                    <h5>Enlaces</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Quienes somos</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">Registro</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Contacto</h5>
                    <p>Dirección: 123 Calle Principal, Ciudad</p>
                    <p>Teléfono: 123-456-7890</p>
                    <p>Email: tienda@galante.com</p>
                </div>
            </div>
        </div>
        <div class="bg-secondary py-2">
            <div class="container text-center">
                <p class="mb-0">© 2023 Galante Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>