<!DOCTYPE html>
<html lang="en">
    <!-- head -->
  <%- include('../partials/head.ejs', {title: 'Editar'}) %>

  <body>
      <%- include('../partials/header.ejs') %>

    <main>
      <form action="/products/edicion/<%= producto.id %>?_method=PUT" method="post" class="container" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="titulo" name="titulo" aria-describedby="emailHelp" value="<%= producto.titulo %>">
        </div>

        <div class="input-group mb-3">
          <img width="20%" src="<%= producto.imagen %>">
          <input type="file" class="form-control" id="imagen" name="imagen">
          <label class="input-group-text" for="imagen">Upload</label>
        </div>

        <div class="mb-3">
          <label for="descripcion" class="form-label">Descipción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" aria-describedby="emailHelp" value="<%= producto.descripcion %>">
        </div>
       
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" aria-describedby="emailHelp" value="<%= producto.precio %>">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>