<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs', {title: 'Editar'}) %>
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <main class="container">
    
    <h2 style="margin-top: 100px; margin-bottom: 30px;">Edición de producto</h2>

    <form action="/edicion/<%= producto.id %>?_method=PUT" method="post" class="mb-3" enctype="multipart/form-data">
      <label for="titulo" class="form-label">Titulo</label>
      <input type="text" class="form-control" id="titulo" name="titulo" value="<%= producto.nombre %>">

      <div class="input-group mt-3">
        <img width="20%" src="<%= producto.imagen %>">
        <input type="file" class="form-control" id="imagen" name="imagen">
        <label class="input-group-text" for="imagen">Upload</label>
      </div>

      <label for="descripcion" class="form-label mt-3">Descripción</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%= producto.descripcion %>">

      <label for="precio" class="form-label mt-3">Precio</label>
      <input type="text" class="form-control" id="precio" name="precio" value="<%= producto.precio %>">

      <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
    </form>
  </main>
 
 <script src='/js/scriptValidatorEdicion.js'></script>
  
 <%- include('../partials/footer.ejs') %>
</body>


</html>
