<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>   

<main>
  <div id="carouselExampleIndicators" class="carousel slide custom-carousel">
    <div class="carousel-indicators">
      <% for (let i = 0; i < 3; i++) { %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>" aria-current="<%= i === 0 ? 'true' : 'false' %>" aria-label="Slide <%= i + 1 %>"></button>
      <% } %>
    </div>
    <div class="carousel-inner">
      <% const images = ['/img/3.png', '/img/1.png', '/img/2.png']; %>
      <% images.forEach((image, index) => { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img src="<%= image %>" class="d-block w-100" alt="Slide <%= index + 1 %>" />
        </div>
      <% }); %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="galeria mt-5">
    <h2 class="titulo">Obras disponibles</h2>
    <span class="linea"></span>
    <div class="container">
      <div class="row mt-3">
        <% for(let producto of productos) { %>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-2 pb-5 producto">
            <a href="/detalle/<%= producto.id %>">
              <img src="<%= producto.imagen %>" alt="<%= producto.titulo %>" />
            </a>
            <div class="titulo-producto"><%= producto.titulo %></div>
            <div class="descripcion-producto precio">$<%= producto.precio %></div>
            <div class="producto-mobile">
              <p><%= producto.titulo %></p>
              <p class="precio">$<%= producto.precio %></p>
            </div>
          </div>
        <% } %>     
      </div>
    </div>
  </section>
  <section class="testimonios titulo mt-5 mb-5">
    <h3>Nuestros clientes dicen</h3>
    <span class="linea bg-dark"></span>
    <% const testimonios = [
      { texto: 'Para los amantes del arte, es genial poder comprar de manera segura.', autor: 'José Pazos', obra: 'Ciudades 60x40cm Marco Impreso Decofactory' },
      { texto: 'Pude comprar en cuotas un cuadro que deseaba hace mucho, al que no hubiera podido acceder en un pago.', autor: 'Tamara Kibelz', obra: 'La Noche Estrellada Van Gogh Pintura Arte Políptico' },
      { texto: 'Pensé que por vivir en el sur de Argentina me iba a salir más caro el envío que la compra. Me alegré mucho al saber que no solo tenía envío gratis sino que además llegó en 2 días.', autor: 'Rita Arzuaga', obra: 'Berni Canvas 50x70 Obra Manifestacion' }
    ]; %>
    <% testimonios.forEach(testimonio => { %>
      <div class="card w-75 mx-auto mb-2 mt-3">
        <div class="card-header bg-dark text-light"><%= testimonio.texto %></div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= testimonio.texto %></p>
            <footer class="blockquote-footer"><%= testimonio.autor %> compró <cite title="Source Title"><%= testimonio.obra %></cite></footer>
          </blockquote>
        </div>
      </div>
    <% }) %>
  </section>

<%- include('./partials/footer.ejs') %>  
  
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>