<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/profile.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/c9cf8990b8.js" crossorigin="anonymous"></script>
        <title>Galante</title>
      </head>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
          <div class="perfil-usuario-portada" id="portada">
            <div class="perfil-usuario-avatar">
                <img src="<%= user.imagen %>" alt="">
            </div>
          </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-descripcion">
                <h1 class="titulo mt-3">
                    <%= user.nombre %>
                </h1>
                <p class="texto">
                    --------- ¡Hola <%= user.nombre %>! En esta sección podrás administrar los productos que publicaste. Por ejemplo, si deseas editar o eliminar algún producto. 👇🏼 ----------
                </p>
            </div>
            <div class="misProductos mt-4">
                <h2>Productos publicados</h2>
            </div>
            <div class="perfil-usuario-productos">
                <% for(let producto of productos) { %>
                    <div class="productos">
                        <div class="imagen-producto">
                            <a href="/detalle/<%= producto.id %>"><img class="imagen" src="<%= producto.imagen %>"></a>
                        </div>
                        <div class="resumen">
                            <p><%= producto.nombre %></p>
                        </div>
                    </div> 
                <% } %>  
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script src='/js/colores.js'></script>

</body>

</html>