<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/Registro.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<title>Registro | Galante</title>
</head>
<body>
<div class="contenedor-formulario contenedor">
  <div class="imagen-formulario"></div>
  <form action="/users/registro" method="POST" id="form" enctype="multipart/form-data">
    <div class="form">
      <img src="/img/logo.png" alt="logo" style="width: 80%; margin-left: 60px; margin-top: 20px;">
      <br>
      <div class="formulario">
        <label for="nameInput" class="form-label">Nombre</label>
        <input type="text" class="form-control <%= locals.errors && errors.Usuario ? "is-invalid" : null %>" value="<%= locals.oldData ? oldData.Usuario : null %>" id="nameInput" name="Usuario" placeholder="Escriba su nombre">
        <% if (locals.errors && errors.Usuario) { %>
          <div class="text-danger"><%= errors.Usuario.msg %></div>
        <% } %>
      </div>
      <div class="formulario">
        <label for="apellidoInput" class="form-label">Apellido</label>
        <input type="text" class="form-control <%= locals.errors && errors.Apellido ? "is-invalid" : null %>" value="<%= locals.oldData ? oldData.Apellido : null %>" id="apellidoInput" name="Apellido" placeholder="Escriba su apellido">
        <% if (locals.errors && errors.Apellido) { %>
          <div class="text-danger"><%= errors.Apellido.msg %></div>
        <% } %>
      </div>
      <div class="formulario">
        <label for="emailInput" class="form-label">Dirección de correo electrónico</label>
        <input type="email" class="form-control <%= locals.errors && errors.Email ? "is-invalid" : null %>" value="<%= locals.oldData ? oldData.Email : null %>" id="emailInput" name="Email" placeholder="nombre@ejemplo.com">
        <% if (locals.errors && errors.Email) { %>
          <div class="text-danger"><%= errors.Email.msg %></div>
        <% } %>
      </div>
      <div class="formulario">
        <label class="form-label" for="avatar">Foto de perfil</label>
        <input type="file" class="form-control" id="avatar" name="avatar">
        <% if (locals.errors && errors.avatar) { %>
          <div class="text-danger"><%= errors.avatar.msg %></div>
        <% } %>
      </div>
      <div class="formulario" name="passInput">
        <label for="passInput" class="form-label">Contraseña</label>
        <input type="password" class="form-control <%= locals.errors && errors.Password ? "is-invalid" : null %>" value="<%= locals.oldData ? oldData.Password : null %>" id="passInput" name="Password" placeholder="Escriba su contraseña">
        <% if (locals.errors && errors.Password) { %>
          <div class="text-danger"><%= errors.Password.msg %></div>
        <% } %>
      </div>
      <div class="formulario" name="pass2Input">
        <label for="pass2Input" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control <%= locals.errors && errors.Password2 ? "is-invalid" : null %>" value="<%= locals.oldData ? oldData.Password2 : null %>" id="pass2Input" name="Password2" placeholder="Reingrese su contraseña">
        <% if (locals.errors && errors.Password2) { %>
          <div class="text-danger"><%= errors.Password2.msg %></div>
        <% } %>
      </div>
      <div class="formulario5">
        <button type="submit" class="btn btn-primary">Registrate</button>
      </div>
      <div class="errores"> <ul></ul> </div>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>